<launch>
    <!--<node pkg="idmind_razor" type="idmind_imu.py" name="idmind_imu" output="screen" >-->
    <arg name="imu" default="razor" />
    <node pkg="idmind_imu" type="idmind_$(arg imu).py" name="idmind_imu" output="screen" >
        <rosparam file="$(find idmind_imu)/cfg/idmind_imu.yaml" command="load" />
    </node>

</launch>