<launch>

    <arg name="only_driver_pc" default="false"/>
    <arg name="imu" default="razor" />	
    <arg name="twist_input_topic" default="/cmd_vel_joy"/>
    <arg name="publish_tf" default="true"/>

    <!-- Load configuration from YAML -->
    <rosparam command="load" file="$(find idmind_robot)/cfg/idmind_robot.yaml" />
    <rosparam command="load" file="$(find idmind_motorsboard)/cfg/idmind_motors.yaml" />

    <!-- Launch motors and sensors boards -->
    <node pkg="idmind_motorsboard" type="idmind_motors.py" name="idmind_motors" respawn="false" />

    <node pkg="idmind_sensorsboard" type="idmind_sensors_new.py" name="idmind_sensors"/>

    <node pkg="idmind_navigation" type="upo_odometry.py" name="odometry_node" output="screen">
        <param name="publish_tf" value="$(arg publish_tf)"/>
    </node>

    <node pkg="smoother" type="smoother_node" name="smoother_node">
	<param name="input_twist_topic" value="$(arg twist_input_topic)"/>
        <rosparam command="load" file="$(find raposa_launchers)/cfg/smoother.yaml" />
    </node>

    <!-- Launch IMU -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0.04 -0.10 0 3.14 0 0 base_link base_link_imu" />

    <node pkg="idmind_imu" type="idmind_$(arg imu).py" name="idmind_imu">
        <rosparam file="$(find idmind_imu)/cfg/idmind_imu.yaml" command="load" />
    </node>

    <node name="joy_node" pkg="joy" type="joy_node" if="$(arg only_driver_pc)">
        <param name="dev" value="/dev/idmind-joystick"/>
    </node>

    <node pkg="idmind_teleop" type="joy_controller.py" name="idmind_teleop" />

    <node pkg="raposa_launchers" type="blink_lights.sh" name="blink_lights"/>
    
</launch>
